.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

.form{
  display: inline-block;
  align-items: center;
}
.form label{
  font-weight:500;
}
.form input{
width: 30px;
border-radius: 5px;
border: 0.5px solid black;
}
.form_button{
  display: flex;
  float: right;
  margin-top: 10px;
}
.form_button button {
  background-color: #8a2b06;
  text-align: center;
  color: white;
  border-radius: 18px;
  border: none;
  padding: 5px 30px;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
